<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>忘记密码</title>
	<script type="text/javascript" src="../js/vue.js"></script>
	<link rel="stylesheet" type="text/css" href="../element-ui/lib/theme-chalk/index.css">
	<script type="text/javascript" src="../element-ui/lib/index.js"></script>
	<script type="text/javascript" src="../js/jquery-3.3.1.min.js"></script>
	<script type="text/javascript" src="../js/axios.js"></script>
	<style type="text/css">
	.el-header,.el-footer {
     background-color: #409EFF;
      width: 100%; 
   }
   .el-main{
    background-color: white;
    width: 100%;
    height: 500px;
   }
    .el-footer p{
      text-align: center;
    }
    #div3{
		width: 600px;
		height: 400px;
		margin-left: 350px; 
	}
	</style>
</head>
<body>
	<div id="div">
        {{created()}}
<el-container>
  <el-header>
   <p><marquee  direction="left" style="color: white; font-size: 20px;">正在找回密码中。。。</marquee></p>
  </el-header>
  <el-main>
      <div id="div3">
      <div id="div2" >
        <el-form :model="userForm" status-icon  ref="userForm" size="medium" label-width="100px" style="margin-left: 20px; margin-top: 50px;  ">
          <el-form-item label="新密码" prop="password1" :rules="[
           { required: true, message: '密码不能为空！', trigger: 'blur' },
           { pattern: /^[A-Za-z0-9\u4e00-\u9fa5]+$/, message: '不允许输入空格等特殊符号'}
          ]">
          <el-col :span="8">
          <el-input  type="password" clearable placeholder="请输入密码" v-model="userForm.password1" ></el-input>
          </el-col>
         </el-form-item>
            <span style="color: #F56C6C; font-size: 10px; margin-left: 100px;" >{{err}}</span>
          <el-form-item label="确认密码" prop="password2" :rules="[
           { required: true, message: '密码不能为空！', trigger: 'blur' },
          { pattern: /^[A-Za-z0-9\u4e00-\u9fa5]+$/, message: '不允许输入空格等特殊符号'},
          ]">
          <el-col :span="8">
          <el-input  type="password" clearable placeholder="请再次输入密码" v-model.number="userForm.password2" ></el-input>
          </el-col>
         </el-form-item>
          <el-button type="primary" style="margin-left: 100px;" @click="submitForm('userForm')">确认修改</el-button>
      </el-form-item>
       </el-form>
      </div>
      </div>
  </el-main>
  <el-footer>
    <p style="color: white;">@Copyright 2021 - 2022</p>
  </el-footer>
</el-container>
	</div>
</body>
<script th:inline="javascript">
new Vue({
	el:"#div",
	data:{
		userForm:{
			password1:"",
			password2:"",
		},
        err:"",
	},
	methods:{
        created(){
            var that = this;
            document.onkeydown = function(e){
                var key = window.event.keyCode;
                if(key == 13){
                    that.submitForm('userForm');
                }
            }
        },
		submitForm(userForm){
            var that = this;
            this.$refs[userForm].validate((valid) => {
                if (valid) {
                    var name = [[${name}]];
                    axios.post("/ModifyUserpassword","password1="+that.userForm.password1+"&password2="+that.userForm.password2+"&name="+name)
                        .then(function(response){
                            if(response.data == "不能与旧密码不一致!"){
                                that.err="不能与旧密码不一致!";
                                that.userForm.password1="";
                                that.userForm.password2="";
                            }
                            else if(response.data == "两次密码不一致!"){
                                that.err="两次密码不一致!";
                                that.userForm.password1="";
                                that.userForm.password2="";
                            }else {
                                that.$message({
                                    type: 'success',
                                    message: '修改成功!,即将跳转登录页面'
                                });
                                setTimeout(() => {
                                    location.href="/login";
                                }, 2000);
                            }
                        },function(err){
                            alert(err);
                        });
                } else {
                    console.log('error submit!!');
                    return false;
                }
            });
		}
	},
})
</script>
</html>